@keyframes arrow {

    0%,
    to {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }

    50% {
        transform: translate3d(-18px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
}

.banner-animate-bounce {
    animation: arrow 1.2s infinite;
    transform-style: preserve-3d;
    will-change: transform;
}

/* .course-info-desk {
    display: block;
}

.course-info-mobile {
    display: none;
}

@media (max-width: 768px) {
    .course-info-mobile {
        display: block;
    }

    .course-info-desk {
        display: none;
    }
} */

@keyframes customFadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-fade-up {
    animation: customFadeUp 1.5s ease-in-out;
}

.hideImg {
    opacity: 0;
}